<form action="/restaurant" method="POST">
  <div class="input-group mb-3 mt-3 w-25">
    <div class="input-group-prepend">
      <span class="input-group-text">餐廳名稱</span>
    </div>
    <input type="text" class="form-control " name="name">
  </div>

  <div class="input-group mb-3 w-25">
    <div class="input-group-prepend">
      <span class="input-group-text">英文名稱</span>
    </div>
    <input type="text" class="form-control " name="name_en">
  </div>

  <div class="input-group mb-3 w-25">
    <div class="input-group-prepend">
      <span class="input-group-text">餐廳類別</span>
    </div>
    <input type="text" class="form-control " name="category">
  </div>

  <div class="input-group mb-3 w-25">
    <div class="input-group-prepend">
      <span class="input-group-text">照片網址</span>
    </div>
    <input type="text" class="form-control " name="image">
  </div>

  <div class="input-group mb-3 w-25">
    <div class="input-group-prepend">
      <span class="input-group-text">地址</span>
    </div>
    <input type="text" class="form-control" name="location">
  </div>

  <div class="input-group mb-3 w-25">
    <div class="input-group-prepend">
      <span class="input-group-text">電話</span>
    </div>
    <input type="text" class="form-control" placeholder="(02)1234-5678" name="phone">
  </div>

  <div class="input-group mb-3 w-25">
    <div class="input-group-prepend">
      <span class="input-group-text">google map</span>
    </div>
    <input type="text" class="form-control" name="google_map">
  </div>

  <div class="input-group mb-3 w-25">
    <div class="input-group-prepend">
      <span class="input-group-text">評比</span>
    </div>
    <input type="text" class="form-control" name="rating">
  </div>

  <div class="input-group mb-3 w-25">
    <div class="input-group-prepend">
      <span class="input-group-text">餐廳介紹</span>
    </div>
    <input type="text" class="form-control" name="description">
  </div>

  <button type="submit" class="btn btn-outline-secondary">新增餐廳</button>


</form>